
<body class="body"><ion-content>
  <img src="../../assets/img/illustration.png" class="Rectangle-1">
  <ion-label class="Login-Now">Verify OTP</ion-label>
    
    
  <ion-label class="sub">Please enter the OTP to start your current trip</ion-label>
  
  <ion-input  type="number"   class="Rectangle-3-1"></ion-input>
  <ion-input  type="number" class="Rectangle-3-2"></ion-input>
  <ion-input  type="number" class="Rectangle-3-3"></ion-input>
  <ion-input  type="number" class="Rectangle-3-4"></ion-input>
  <hr>
  
  <div class="numberdiv">
   


    <div class="horizontalline"></div>
    <div class="horizontalline-1"></div>
    <ion-grid class="numbergrid">
      <ion-row>
        <ion-col>
          <button class="Key-Background"><ion-label class="numtxt">1</ion-label></button>
        </ion-col>
        <ion-col >
          <button class="Key-Background"><ion-label class="numtxt">2</ion-label></button>
        </ion-col>
        <ion-col>
          <button class="Key-Background"><ion-label class="numtxt">3</ion-label></button>
        </ion-col>
          
      </ion-row>
      
      <ion-row>
        <ion-col >
          <button class="Key-Background"><ion-label class="numtxt">4</ion-label></button>
        </ion-col>
        <ion-col >
          <button class="Key-Background"><ion-label class="numtxt">5</ion-label></button>
        </ion-col>
        <ion-col >
          <button class="Key-Background"><ion-label class="numtxt">6</ion-label></button>
        </ion-col>
          
      </ion-row>
     

      <ion-row>
        <ion-col >
          <button class="Key-Background"><ion-label class="numtxt">7</ion-label></button>
        </ion-col>
        <ion-col >
          <button class="Key-Background"><ion-label class="numtxt">8</ion-label></button>
        </ion-col>
        <ion-col>
          <button class="Key-Background"><ion-label class="numtxt">9</ion-label></button>
        </ion-col>
          
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div class="Key-Background-1">
            <ion-icon name="backspace-outline" class="back"></ion-icon>
          </div>
          
        </ion-col>
        <ion-col>
          <button class="Key-Background"><ion-label class="numtxt">0</ion-label></button>
        </ion-col>
        <ion-col>
          
            <button class="Key-Background-2"><ion-label class="numtxt"><ion-label class="text-otp">Go</ion-label>
              <img class="arrow" src="../../assets/img/arrow-down-left.svg"></ion-label></button>
        </ion-col>
          
      </ion-row>
    </ion-grid> 

  <div class="vertical-1"></div>
  <div class="vertical-2"></div>
  </div>
</ion-content>
</body>


















<!-- <ion-grid class="numbergrid">
  <ion-row>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>1</ion-label></ion-item>
    </ion-col>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>2</ion-label></ion-item>
    </ion-col>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>3</ion-label></ion-item>
    </ion-col>
    
    
  </ion-row>
  <ion-row>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>4</ion-label></ion-item>
    </ion-col>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>5</ion-label></ion-item>
    </ion-col>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>6</ion-label></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>7</ion-label></ion-item>
    </ion-col>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>8</ion-label></ion-item>
    </ion-col>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>9</ion-label></ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="Key-Background-1">
      <ion-icon name="backspace-outline" class="back"></ion-icon>
    </ion-col>
    <ion-col class="Key-Background">
      <ion-item class="Number"><ion-label>0</ion-label></ion-item>
    </ion-col>
    <ion-col class="Key-Background-2">
      <ion-button class="go" color="tertiary"><ion-label class="text-otp">Go</ion-label>
        <img class="arrow" src="../../assets/img/arrow-down-left.svg"></ion-button>
     
    </ion-col>
  </ion-row>
</ion-grid> -->