
  <ion-content>
    <img src="../../assets/img/illustration.png" class="Rectangle-1">
    
    
      <ion-label class="Login-Now">Login Now</ion-label>
    
    
    <ion-label class="sub">Login for your trip now with any one of the following 
      and start your journey.</ion-label>
      
      <div class="Rectangle-7-1">
        <img src="../../assets/img/otp.svg"
     class="otp">
     <ion-label class="text-otp">Using OTP</ion-label>
     <img src="../../assets/img/arrow-down-left.svg"
     class="arrow-down-left">
      </div>
      <div class="Rectangle-7-2">
        <img src="../../assets/img/gps.svg"
        class="otp">
        <ion-label class="text-otp">With GPS</ion-label>
        <img src="../../assets/img/arrow-down-left.svg"
        class="arrow-down-left">
      </div> 
      <div class="Rectangle-7-3">
        <img src="../../assets/img/ble.svg"
        class="otp">
        <ion-label class="text-otp">With BLE</ion-label>
        <img src="../../assets/img/arrow-down-left.svg"
        class="arrow-down-left">
      </div>
  </ion-content>





