<ion-header class="Rectangle-29">
  
    <img src="../../assets/img/-eg-menu.svg"
     class="-eg-menu">
     <img src="../../assets/img/bell-musical-tool.svg"
     class="bell-musical-tool">
     <img src="../../assets/img/navigation.svg"
     class="navigation">
     <ion-label class="maintext">KA-05-AA-1234</ion-label>
     <div class="line"></div>
     <ion-label class="subtext">Tata Signa 2168 - 40 Ft. Trailer</ion-label>

</ion-header>
  
<ion-footer class="footerbar">
  <div class="Home-Indicator"></div>
  <ion-label class="min">20 min</ion-label>
  <ion-label class="distance">22 km</ion-label>
  <div class="dot"></div>
  <ion-label class="time">10:30 am</ion-label>
</ion-footer>

<ion-content>
<img src="../../assets/img/map.png" class="mapimg">
</ion-content>
