.Rectangle-29 {
    width: 750px;
    height: 150px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfdfe;
  }
  .-eg-menu {
    width: 42px;
    height: 32px;
    object-fit: contain;
    position: relative;
    left: 35px;
    top: 40px;
  }
  .bell-musical-tool{
    width: 33.6px;
    height: 36.2px;
    object-fit: contain;
    position: absolute;
    left: 680.7px;
    top: 39.7px;
  }
  .navigation {
    width: 28.3px;
    height: 27.9px;
    object-fit: contain;
    
    position: absolute;
    left: 215.6px;
    top: 46.2px;
  }
  .maintext{
    width: 250px;
    height: 47px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 47px;
    left: 258px;
  }
  .subtext{
    
        width: 396px;
        height: 40px;
        opacity: 0.6;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.7;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        position: absolute;
    top: 98px;
    left: 183px;
      
  }
  .mapimg{
    
        width: 750px;
        height: 1334px;
        object-fit: contain;
        transform: scale(3.5);
  }
  .Home-Indicator {
    width: 60px;
    height: 10px;
    opacity: 0.6;
    border-radius: 100px;
    background-color: #000000;
    position: relative;
    left: 345px;
    top: 30px;
  }
  .footerbar{
    width: 750px;
    height: 124px;
    box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfdfe;
   
  }
  .min {
    width: 125px;
    height: 58px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: left;
    color: #d39a00;
    position: relative;
    top:44px;
    left: 40px;

  }

  .line{
      width: 246px;
      height: 2px;
      position: absolute;
      top: 82px;
      left: 260px;
      background-color: rgb(112, 112, 112);
  }
  .distance{
    width: 80px;
    height: 37px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #454545;
    position: absolute;
    top: 57px;
    left: 478px;
  }
  .dot{
    width: 12px;
    height: 12px;
    background-color: #000000;
    border-radius: 100%;
    position: absolute;
    left: 571px;
    top: 70px;
  }
  .time{
    
        width: 112px;
        height: 37px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 28px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #454545;
        position: absolute;
    left: 598px;
    top: 57px;
      
  }